<app-index-navbar></app-index-navbar>
<section class="header relative pt-16 items-center flex h-screen max-h-860-px">
  <div class="container mx-auto items-center flex flex-wrap">
    <div class="w-full md:w-8/12 lg:w-6/12 xl:w-6/12 px-4">
      <div class="pt-32 sm:pt-0">
        <h2 class="font-semibold text-4xl text-blueGray-600">
          Lyseis
        </h2>
        <p class="mt-4 text-lg leading-relaxed text-blueGray-500">
          Es de origen griego y nos inspira su significado: soluciones.
          <br>
          Porque nuestra misión es llevar <strong>soluciones a tus proyectos.</strong>
        </p>
      </div>
    </div>
  </div>

  <img
    class="absolute top-0 b-auto right-0 pt-16 sm:w-6/12 -mt-48 sm:mt-0 w-10/12 max-h-860-px"
    src="assets/img/pattern_angular.png"
    alt="..."
  />
</section>

<section class="mt-48 md:mt-40 pb-40 relative bg-blueGray-100">
  <div
    class="-mt-20 top-0 bottom-auto left-0 right-0 w-full absolute h-20"
    style="transform: translateZ(0)"
  >
    <svg
      class="absolute bottom-0 overflow-hidden"
      xmlns="http://www.w3.org/2000/svg"
      preserveAspectRatio="none"
      version="1.1"
      viewBox="0 0 2560 100"
      x="0"
      y="0"
    >
      <polygon
        class="text-blueGray-100 fill-current"
        points="2560 0 2560 100 0 100"
      ></polygon>
    </svg>
  </div>
  <div class="container mx-auto">
    <div class="flex flex-wrap items-center">
      <div
        class="w-10/12 md:w-6/12 lg:w-4/12 px-12 md:px-4 mr-auto ml-auto -mt-32"
      >
        <div
          class="relative flex flex-col min-w-0 break-words bg-white w-full mb-6 shadow-lg rounded-lg bg-red-600"
        >
          <img
            alt="..."
            src="https://images.unsplash.com/photo-1498050108023-c5249f4df085?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=700&q=80"
            class="w-full align-middle rounded-t-lg"
          />
          <blockquote class="relative p-8 mb-4">
            <svg
              preserveAspectRatio="none"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 583 95"
              class="absolute left-0 w-full block h-95-px -top-94-px"
            >
              <polygon
                points="-30,95 583,95 583,65"
                class="text-red-600 fill-current"
              ></polygon>
            </svg>
            <h4 class="text-xl font-bold text-white">
              Te ayudamos a concretar tus ideas
            </h4>
            <p class="text-md font-light mt-2 text-white">
              El diálogo es nuestro pilar para comprender las ideas y necesidades de personas, empresas e instituciones y a partir de ellas realizar proyectos a medida con el software más adecuado.
            </p>
          </blockquote>
        </div>
      </div>

      <div class="w-full md:w-6/12 px-4">
        <div class="flex flex-wrap">
          <div class="w-full md:w-6/12 px-4">
            <div class="relative flex flex-col mt-4">
              <div class="px-4 py-5 flex-auto">
                <div
                  class="text-blueGray-500 p-3 text-center inline-flex items-center justify-center w-12 h-12 mb-5 shadow-lg rounded-full bg-white"
                >
                  <i class="fas fa-sitemap"></i>
                </div>
<!--
                <h6 class="text-xl mb-1 font-semibold">CSS Components</h6>
-->                
                <p class="mb-4 text-blueGray-500">
                    Asesoría técnico pedagógica en e-learning
                </p>
              </div>
            </div>
            <div class="relative flex flex-col min-w-0">
              <div class="px-4 py-5 flex-auto">
                <div
                  class="text-blueGray-500 p-3 text-center inline-flex items-center justify-center w-12 h-12 mb-5 shadow-lg rounded-full bg-white"
                >
                  <i class="fas fa-drafting-compass"></i>
                </div>
               
                <p class="mb-4 text-blueGray-500">
                  Desarrollo de sistemas a medida
                </p>
              </div>
            </div>
          </div>
          <div class="w-full md:w-6/12 px-4">
            <div class="relative flex flex-col min-w-0 mt-4">
              <div class="px-4 py-5 flex-auto">
                <div
                  class="text-blueGray-500 p-3 text-center inline-flex items-center justify-center w-12 h-12 mb-5 shadow-lg rounded-full bg-white"
                >
                  <i class="fas fa-newspaper"></i>
                </div>
             
                <p class="mb-4 text-blueGray-500">
                  Administración de Moodle
                </p>
              </div>
            </div>
            <div class="relative flex flex-col min-w-0">
              <div class="px-4 py-5 flex-auto">
                <div
                  class="text-blueGray-500 p-3 text-center inline-flex items-center justify-center w-12 h-12 mb-5 shadow-lg rounded-full bg-white"
                >
                  <i class="fas fa-file-alt"></i>
                </div>
<!--
                <h6 class="text-xl mb-1 font-semibold">Documentation</h6>
-->                
                <p class="mb-4 text-blueGray-500">
                  Asesoria de Oracle
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container mx-auto overflow-hidden pb-20">
    <div class="flex flex-wrap items-center">
      <div class="w-full md:w-4/12 px-12 md:px-4 ml-auto mr-auto mt-48">
        <div
          class="text-blueGray-500 p-3 text-center inline-flex items-center justify-center w-16 h-16 mb-6 shadow-lg rounded-full bg-white"
        >
          <i class="fas fa-sitemap text-xl"></i>
        </div>
        <h3 class="text-3xl mb-2 font-semibold leading-normal">
          Asesoría técnico pedagógica en e-learning
        </h3>
        <p class="text-lg font-light leading-relaxed mt-4 mb-4 text-blueGray-600">
          Ofrecemos asesoría para la implementación de ambientes educativos virtuales.
        </p>
        <p class="text-lg font-light leading-relaxed mt-4 mb-4 text-blueGray-600">
          Colaboramos en la personalización y mejora de los recursos didácticos pedagógicos de Moodle para brindar educación a distancia de calidad.
        </p>
        <a
          href="https://www.linkedin.com/in/lourdes-ojeda/"
          target="_blank"
          class="font-bold text-blueGray-700 hover:text-blueGray-500 ease-linear transition-all duration-150"
          >
          <strong>Nuestra Trayectoria</strong>
        </a>

      </div>

<!--
      <div class="w-full md:w-6/12 px-4">
-->        
      <!--
        <div class="relative flex flex-col mt-4">
          <div class="px-4 py-5 flex-auto">
            <img
            alt="..."
            src="assets/img/Elearning.png"
            class="w-full align-middle rounded-lg absolute shadow-lg max-w-210-px"
            />
          </div>
        </div>
      -->
      <div class="w-full md:w-5/12 px-4 mr-auto ml-auto mt-32">
        <div class="relative flex flex-col min-w-0 w-full mb-3 mt-5 md:mt-0">
<!--
          <div class="bg-blueGray-600 shadow-lg rounded-lg text-center p-8">
-->            
          <div>
            <img
            alt="..."
            src="assets/img/Moodle.png"
            class="w-full align-middle rounded-lg max-w-210-px center"
            />
          </div>
        </div>
      </div>
    </div>
    
    <div class="flex flex-wrap items-center">
      <div class="w-full md:w-4/12 px-12 md:px-4 ml-auto mr-auto mt-48">
        <div
          class="text-blueGray-500 p-3 text-center inline-flex items-center justify-center w-16 h-16 mb-6 shadow-lg rounded-full bg-white"
        >
          <i class="fas fa-sitemap text-xl"></i>
        </div>
        <h3 class="text-3xl mb-2 font-semibold leading-normal">
          Desarrollo de sistemas
        </h3>

        <p
          class="text-lg font-light leading-relaxed mt-4 mb-4 text-blueGray-600"
        >
          Desarrollamos portales a partir de sistemas de gestión de contenidos libres y flexibles.
        </p>
        <p
          class="text-lg font-light leading-relaxed mt-4 mb-4 text-blueGray-600"
        >
          Realizamos desarrollo de sitios y aplicaciones web a medida.
        </p>
<!--
        Conocé nuestra web para organizar equipos de fútbol:
        <a
          href="https://www.quienjuega.com.ar"
          target="_blank"
          class="font-bold text-blueGray-700 hover:text-blueGray-500 ease-linear transition-all duration-150"
        >
          Quienjuega
        </a>
        <br>
-->        
        <a
          href="https://www.linkedin.com/in/martinfacundodiaz"
          target="_blank"
          class="font-bold text-blueGray-700 hover:text-blueGray-500 ease-linear transition-all duration-150"
          >
          <strong>Nuestra Trayectoria</strong>
        </a>
      </div>

      <div class="w-full md:w-5/12 px-4 mr-auto ml-auto mt-32">
        <div class="relative flex flex-col min-w-0 w-full mb-3 mt-5 md:mt-0">

          <div class="bg-yellow-500 shadow-lg rounded-lg text-center p-8">
            <img
              alt="..."
              class="shadow-md rounded-full max-w-full w-16 mx-auto p-2 bg-white"
              src="https://raw.githubusercontent.com/creativetimofficial/public-assets/master/logos/js.png"
            />
            <p class="text-lg text-white mt-4 font-semibold">JavaScript</p>
          </div>

          <div class="bg-red-700 shadow-lg rounded-lg text-center p-8 mt-8">
            <img
              alt="..."
              class="shadow-md rounded-full max-w-full w-16 mx-auto p-2 bg-white"
              src="https://raw.githubusercontent.com/creativetimofficial/public-assets/master/logos/angular.jpg"
            />
            <p class="text-lg text-white mt-4 font-semibold">Angular</p>
          </div>
          <div class="bg-emerald-500 shadow-lg rounded-lg text-center p-8 mt-8">
            <img
              alt="..."
              class="shadow-md rounded-full max-w-full w-16 mx-auto p-2 bg-white"
              src="../../../assets/img/Oracle.png"
            />
            <p class="text-lg text-white mt-4 font-semibold">Oracle</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="justify-center text-center flex flex-wrap mt-24">
    <div class="w-full md:w-6/12 px-12 md:px-4">
      <h2 class="font-semibold text-4xl">Portfolio</h2>
      <p class="text-lg leading-relaxed mt-4 mb-4 text-blueGray-500">
        Campus virtuales en los que hemos trabajado desde la administración y su puesta en marcha
      </p>
    </div>
  </div>
</section>

<section class="block relative z-1 bg-blueGray-600">
  <div class="container mx-auto">
    <div class="justify-center flex flex-wrap">
      <div class="w-full lg:w-12/12 px-4 -mt-24">
        <div class="flex flex-wrap">
          <div class="w-full lg:w-4/12 px-4">
            <h5 class="text-xl font-semibold pb-4 text-center">CESCAL</h5>
<!--
            <a [routerLink]="['/auth/login']">
            -->              
            <a href="https://campus.cescal.com.ar/camvirtual/" target="_blank">
              <div
                class="hover:-mt-4 relative flex flex-col min-w-0 break-words bg-white w-full mb-6 shadow-lg rounded-lg ease-linear transition-all duration-150"
              >
                <img
                  alt="..."
                  class="align-middle border-none max-w-full h-auto rounded-lg"
                  src="assets/img/Campus-Cescal.png"
                />
              </div>
            </a>
          </div>

          <div class="w-full lg:w-4/12 px-4">
            <h5 class="text-xl font-semibold pb-4 text-center">MDP</h5>
<!--
            <a [routerLink]="['/profile']">
-->              
            <a href="https://webcampus.mpd.gov.ar/" target="_blank">
              <div
                class="hover:-mt-4 relative flex flex-col min-w-0 break-words bg-white w-full mb-6 shadow-lg rounded-lg ease-linear transition-all duration-150"
              >
                <img
                  alt="..."
                  class="align-middle border-none max-w-full h-auto rounded-lg"
                  src="assets/img/Campus-MPD.png"
                />
              </div>
            </a>
          </div>

          <div class="w-full lg:w-4/12 px-4">
            <h5 class="text-xl font-semibold pb-4 text-center">IOMA</h5>
<!--
            <a [routerLink]="['/landing']">
-->              
            <a href="http://campusdpti.ioma.gba.gov.ar/" target="_blank">
              <div
                class="hover:-mt-4 relative flex flex-col min-w-0 break-words bg-white w-full mb-6 shadow-lg rounded-lg ease-linear transition-all duration-150"
              >
                <img
                  alt="..."
                  class="align-middle border-none max-w-full h-auto rounded-lg"
                  src="assets/img/Campus-IOMA.png"
                />
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="pb-16 bg-blueGray-200 relative pt-32">
  <div
    class="-mt-20 top-0 bottom-auto left-0 right-0 w-full absolute h-20"
    style="transform: translateZ(0)"
  >
    <svg
      class="absolute bottom-0 overflow-hidden"
      xmlns="http://www.w3.org/2000/svg"
      preserveAspectRatio="none"
      version="1.1"
      viewBox="0 0 2560 100"
      x="0"
      y="0"
    >
      <polygon
        class="text-blueGray-200 fill-current"
        points="2560 0 2560 100 0 100"
      ></polygon>
    </svg>
  </div>

  <div class="container mx-auto">
  </div>
</section>
<app-footer></app-footer>
